/* Змінні */
:root {
  /* Font */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* Text  */
  --white-txt-cl: #ffffff;
  --primery-txt-cl: #4d5ae5;
  --pressed-txt-cl: #404bbf;
  --dark-txt-cl: #2e2f42;
  --text: #434455;
  --light-txt-cl: #f4f4fd;
  --success: #31d0aa;
  --success-75: rgba(47, 208, 170, 0.75);
  --success-50: rgba(47, 208, 170, 0.5);
  --success-10: rgba(47, 208, 170, 0.1);
  --subtle-txt-cl: #8e8f99;
  --accent-txt-cl: #e7e9fc;
  /* Background */
  --white-bg-cl: #ffffff;
  --primery-bg-cl: #4d5ae5;
  --pressed-bg-cl: #404bbf;
  --dark-bg-cl: #2e2f42;
  --dark-70: rgba(46, 47, 66, 0.7);
  --dark-40: rgba(46, 47, 66, 0.4);
  --text-bg-cl: #434455;
  --light-bg-cl: #f4f4fd;
  --subtle-bg-cl: #8e8f99;
  --accent-bg-cl: #e7e9fc;
  --border-pressed-color: #404bbf;
}

/* Base styles */

/* reset start */

h1,
h2,
h3,
h4,
h5.h6,
p {
  margin: 0;
}
/* reset end */

.page {
  background-color: var(--white-bg-cl);
  color: var(--text);
  font-family: var(--main-font);
}

.section {
  padding: 120px 0px;
}

.container {
  /* outline: 2px solid red;
  outline-offset: -2px; */

  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.link {
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* h3 */
.title {
  color: var(--dark-txt-cl);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* h1,h2 hidden */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
}
/* h2 */
.section-title {
  color: var(--dark-txt-cl);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.btn {
  display: flex;
  align-items: center;
  border: none;
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

/* Header section */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-weight: 800;
  font-size: 18px;
  font-family: 'Raleway';
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-dark {
  color: #2e2f42;
}

.menu-list {
  display: flex;
  margin-left: 76px;
}

.menu-list .menu-item + .menu-item {
  margin-left: 40px;
}

/* .menu-list .menu-item:not(:last-child) {
    margin-right: 40px;
} */

.menu-list .menu-link.current {
  color: var(--pressed-txt-cl);
}

.menu-list .menu-link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--dark-txt-cl);
  font-weight: 500;
}

.menu-list .menu-link.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-bg-cl);
}

.menu-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-txt-cl);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .contacts-item + .contacts-item {
  margin-left: 40px;
}

.contacts-link {
  color: var(--text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--pressed-txt-cl);
}

/* Hero section */

.hero {
  max-width: 1440px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 188px 0px;
  background-color: var(--dark-bg-cl);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  max-width: 498px;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;

  color: var(--white-txt-cl);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-btn {
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  max-width: 498px;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  background-color: var(--primery-bg-cl);

  color: var(--white-txt-cl);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-bg-cl);
  color: var(--white-txt-cl);
}

/* Feature section */

.feature-list {
  display: flex;
}

.feature-list .feature-item + .feature-item {
  margin-left: 24px;
}

.feature-icon-wrapper {
  margin-bottom: 8px;
  padding: 24px 100px;
  border-radius: 4px;
  background-color: var(--light-bg-cl);
}

.features-title {
  margin-bottom: 8px;
}

.features-text {
  color: #434455;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-family: 'Roboto';
  line-height: 1.5;
}

/* Img section */

.section-img {
  padding-top: 0px;
}

.what-doing {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  padding: 0px;
}

.imgs {
  display: block;
}

/* Team Card section */
.team-card {
  background: var(--light-bg-cl);
}

.section-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
}

.team-list .person + .person {
  margin-left: 24px;
}

.person {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-bg-cl);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  text-align: center;
}

.team-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-title {
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primery-bg-cl);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-bg-cl);
}

/* Customers section */

.customers-section {
  padding-top: 130px;
}

.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 72px;
}

.customers-list-item {
  display: flex;
  align-items: center;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.brend {
  fill: currentColor;
}

.customers-list-link:hover,
.customers-list-link:focus {
  border: 1px solid var(--pressed-bg-cl);
  color: var(--pressed-bg-cl);
}

/* Footer section */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark-bg-cl);
  color: var(--accent-txt-cl);
}

.flex-footer {
  display: flex;
}

.logo-light {
  color: var(--light-txt-cl);
}

.text-footer {
  max-width: 264px;
  margin-top: 16px;
  padding: auto;
  line-height: 1.5;
}

.footer-media {
  margin-left: 120px;
}

.social-media {
  margin-bottom: 16px;
  color: var(--white-txt-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-actions {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--success);
}

.icon {
  fill: var(--white-bg-cl);
}

.footer-subscribe {
  margin-left: 80px;
}

.subscribe-title {
  margin-bottom: 16px;
  color: var(--white-txt-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.subscribe-form {
  display: flex;
}

.subscribe-form-input {
  display: flex;
  align-items: center;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  font-family: 'Roboto';
  line-height: 24px;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-button-form {
  position: relative;
}

.subscribe-button {
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  width: 165px;
  height: 40px;
  margin-left: 24px;
  border-radius: 4px;
  background-color: var(--primery-bg-cl);
  color: var(--white-txt-cl);
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--pressed-bg-cl);
}

/* Portfolio */

.portfolio {
  padding: 120px 0px;
}

/* Button of filter */

.button-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.btn-filter {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  background-color: var(--light-bg-cl);
  color: var(--primery-txt-cl);
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--pressed-bg-cl);
  color: var(--white-txt-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-title {
  margin-bottom: 8px;
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 40px 32px 156px;

  background-color: var(--primery-bg-cl);
  color: var(--light-txt-cl);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-family: 'Roboto';
  line-height: 24px;
  letter-spacing: 0.02em;
  transition: transform 250ms linear;
  transform: translate(0, 100%);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translate(0, 0);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background: #404bbf;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #ffffff;
}

.modal-title {
  display: block;
  margin-bottom: 16px;
  color: var(--dark-txt-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
}

.order-form {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.order-form-label {
  margin-bottom: 8px;
}

.modal-form-input-desc {
  display: block;
  margin-bottom: 4px;
  color: var(--subtle-bg-cl);
}

.order-form-group {
  position: relative;
  display: block;
}

.order-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #000000;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-50%);
}

.order-form-input:focus {
  border-color: var(--primery-txt-cl);
  outline: none;
}

.order-form-input:focus + .order-form-icon {
  fill: var(--primery-txt-cl);
}

.order-form-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #000000;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-comment:focus {
  border-color: var(--primery-txt-cl);
  outline: none;
}

.modal-form-check-desc::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check:checked + .modal-form-check-desc::before {
  border-color: var(--border-pressed-color);
  background-color: var(--pressed-bg-cl);
  background-image: url(../images/icon/vector.svg);
  background-position: 50% 50%;
  background-size: 10px 8px;
  background-repeat: no-repeat;
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.modal-form-link {
  color: var(--primery-txt-cl);
}

.order-form-btn {
  align-self: center;
  width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--primery-bg-cl);
  color: var(--white-txt-cl);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-btn:hover,
.order-form-btn:focus {
  background-color: var(--pressed-bg-cl);
  color: var(--white-txt-cl);
}
