/* Змінні */
:root {
  /* Font */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* Text  */
  --white-txt-cl: #ffffff;
  --primery-txt-cl: #4d5ae5;
  --pressed-txt-cl: #404bbf;
  --dark-txt-cl: #2e2f42;
  --text: #434455;
  --light-txt-cl: #f4f4fd;
  --success: #31d0aa;
  --success-75: rgba(47, 208, 170, 0.75);
  --success-50: rgba(47, 208, 170, 0.5);
  --success-10: rgba(47, 208, 170, 0.1);
  --subtle-txt-cl: #8e8f99;
  --accent-txt-cl: #e7e9fc;
  /* Background */
  --white-bg-cl: #ffffff;
  --primery-bg-cl: #4d5ae5;
  --pressed-bg-cl: #404bbf;
  --dark-bg-cl: #2e2f42;
  --dark-70: rgba(46, 47, 66, 0.7);
  --dark-40: rgba(46, 47, 66, 0.4);
  --text-bg-cl: #434455;
  --light-bg-cl: #f4f4fd;
  --subtle-bg-cl: #8e8f99;
  --accent-bg-cl: #e7e9fc;
  --border-pressed-color: #404bbf;
  /* Breakpoints */
  --phone-screen: 480px;
  --tablet-screen: 768px;
  --desktop-screen: 1200px;
  /* Others */
  --indent: 24px;
  --items: 3;
}

/* Base styles */

/* reset start */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* reset end */

.page {
  background-color: var(--white-bg-cl);
  color: var(--text);
  font-family: var(--main-font);
  letter-spacing: 0.02em;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.container {
  /* 320px <= phone screen <= infinity*/
  min-width: 320px;
  max-width: 428px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  /* 
  outline: 2px solid red;
  outline-offset: -2px; */
}
/* 768px <= tablet screen <= infinity*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* 1200px <= tablet screen <= infinity*/
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.link {
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* h3 */
.title {
  color: var(--dark-txt-cl);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* h1,h2 hidden */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
}
/* h2 */
.section-title {
  color: var(--dark-txt-cl);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.btn {
  display: flex;
  align-items: center;
  border: none;
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

/* Header section */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 1200px) {
  .main-header {
    align-items: center;
  }
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: #4d5ae5;
  font-weight: 800;
  font-size: 18px;
  font-family: 'Raleway';
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 1157px) {
  .logo {
    margin-bottom: 0;
  }
}

.logo-dark {
  color: #2e2f42;
}
.menu-list {
  display: flex;
  padding-left: 0;
}
@media screen and (max-width: 767px) {
  .menu-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-list {
    margin-left: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-list {
    margin-left: 76px;
  }
}

.menu-list .menu-item:not(:last-child) {
  margin-right: 40px;
}
@media screen and (max-width: 767px) {
  .menu-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

/* .menu-list .menu-item + .menu-item {
  margin-left: 40px;
} */

/* .menu-list .menu-item:not(:last-child) {
    margin-right: 40px;
} */

.menu-list .menu-link.current {
  color: var(--pressed-txt-cl);
}

.menu-list .menu-link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--dark-txt-cl);
  font-weight: 500;
}

.menu-list .menu-link.current::after {
  content: '';
  position: absolute;
  bottom: -4px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-bg-cl);
}

.menu-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-txt-cl);
}

.contacts {
  padding-left: 0;
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-top: 24px;
  }
  .contacts .contacts-item:not(:last-child) {
    padding-bottom: 6px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts .contacts-item:not(:last-child) {
    margin-right: 40px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 1199.98px) {
  .contacts {
    margin-bottom: 12px;
  }
}

/* .contacts .contacts-item + .contacts-item {
  margin-left: 40px;
} */

.contacts-link {
  color: var(--text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--pressed-txt-cl);
}

/* Hero section */

.hero {
  /* max-width: 1440px; */
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 112px 0px;
  padding: 188px 0px;
  background-color: var(--dark-bg-cl);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/bg_mob@2x.webp);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/bg_tab@1x.webp);
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/bg_tab@2x.webp);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/bg_desktop@1x.webp);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/bg_desktop@2x.webp);
  }
}

.hero-title {
  max-width: 320px;
  margin-right: auto;
  margin-bottom: 72px;
  margin-left: auto;
  color: var(--white-txt-cl);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    margin-bottom: 40px;
    font-size: 56px;
    line-height: calc(60 / 56);
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-btn {
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  max-width: 498px;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  background-color: var(--primery-bg-cl);

  color: var(--white-txt-cl);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-bg-cl);
  color: var(--white-txt-cl);
}

/* Feature section */
.feature-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}
.feature-list .feature-item {
  max-width: 396px;
}
@media screen and (min-width: 768px) {
  .feature-list {
    width: 738px;
    column-gap: 24px;
  }
  .feature-list .feature-item {
    max-width: 356px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list {
    flex-wrap: nowrap;
    width: 1128px;
  }

  .feature-list .feature-item {
    max-width: 264px;
  }
}
.features-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features-title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.feature-icon-wrapper {
  display: none;
  /* display: inline-flex; */
  margin-bottom: 8px;
  padding-top: 24px;
  padding-right: 100px;
  padding-bottom: 24px;
  padding-left: 100px;
  border-radius: 4px;
  background: var(--light);
}
@media screen and (min-width: 1200px) {
  .feature-icon-wrapper {
    display: inline-flex;
  }
}
.feature-icon {
  width: 64px;
  height: 64px;
}
.feature-list .subtitel-text {
  font-weight: 500;
}
@media screen and (min-width: 1200px) {
  .feature-list .features-title {
    font-weight: 400;
  }
}
/* Img section */

.section-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section-img {
    display: block;
    padding-top: 0px;
  }
}

.what-doing {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  padding: 0px;
}

.imgs {
  display: block;
}

/* Team Card section */
.team-card {
  background: var(--light-bg-cl);
}

.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: calc(40 / 36);

  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  justify-content: center;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }
}

.person {
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-txt-cl);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  text-align: center;
}
.team-wrapper {
  padding: 32px 16px;
}
.team-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
}
.team-text {
  margin-bottom: 8px;
  line-height: calc(24 / 16);
}
.social-list {
  display: flex;
  gap: var(--indent);
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primery-bg-cl);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-bg-cl);
}
.icon {
  fill: currentColor;
}

/* Customers section */

.customers-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  justify-content: center;
  column-gap: 16px;
}
@media screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }
}

@media screen and (min-width: 320px) {
  .customers-list-item {
    display: flex;
    flex-basis: calc((100% - 16px) / 2);
    align-items: center;
    height: 88px;
  }
}
@media screen and (min-width: 768px) {
  .customers-list-item {
    flex-basis: calc((100% - (2 * 32px)) / 4);
  }
}
@media screen and (min-width: 1200px) {
  .customers-list-item {
    flex-basis: calc((100% - (5 * 24px)) / 6);
  }
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.brend {
  fill: currentColor;
}

.customers-list-link:hover,
.customers-list-link:focus {
  border: 1px solid var(--pressed-bg-cl);
  color: var(--pressed-bg-cl);
}

/* Footer section */

.footer {
  padding: 96px 0;
  background-color: var(--dark-bg-cl);
  color: var(--accent-txt-cl);
}
@media screen and (min-width: 768px) {
  .footer > .flex-footer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
  }
}

@media screen and (min-width: 1200px) {
  .footer > .flex-footer {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 767.98px) {
  .footer-container {
    margin-bottom: 72px;
    text-align: center;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer-container {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 767.98px) {
  .footer-logo {
    display: block;
  }
}

.footer .logo {
  margin-bottom: 16px;
  padding-top: 0;
  padding-bottom: 0;
}

.logo-light {
  color: var(--light-txt-cl);
}

.text-footer {
  display: block;
  max-width: 264px;
  margin-top: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 767.98px) {
  .text-footer {
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }
}

.social-media {
  margin-bottom: 16px;
  color: var(--white-txt-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767.98px) {
  .footer-media {
    margin-bottom: 72px;
    text-align: center;
  }
}
@media screen and (min-width: 767.98px) {
  .footer-media {
    margin-left: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-media {
    margin-left: 120px;
  }
}

.footer-actions {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--success);
}

.icon {
  fill: var(--white-bg-cl);
}

/* Subscribe */
.footer-subscribe {
  display: block;
  margin-top: 72px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer-subscribe {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscribe {
    margin: 0 0 0 80px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    display: flex;
    align-items: center;
  }
}
.subscribe-title {
  margin-bottom: 16px;
  color: var(--white-txt-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .subscribe-title {
    display: flex;
    justify-content: center;
  }
}
.subscribe-form-label {
  position: relative;
}

.subscribe-form-label input {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--dark-txt-cl);
  color: var(--subtle-txt-cl);
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media screen and (min-width: 768px) {
  .subscribe-form-label input {
    width: 264px;
    margin-right: 24px;
  }
}

.subscribe-form-label label {
  position: absolute;
  top: 50%;
  left: 16px;
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  transform: translateY(-50%);
}

.subscribe-button-form {
  position: relative;
  width: 165px;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .subscribe-button-form {
    margin: 0;
  }
}

.subscribe-button {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 24px;
  border-style: none;
  border-radius: 4px;
  background: #4d5ae5;
  color: #ffffff;
  text-align: left;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;

  transition-property: background-color;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--pressed-bg-cl);
}

.subscribe-icon {
  position: absolute;
  top: 50%;
  right: 24px;

  fill: #404bbf;
  transform: translateY(-50%);
}
/* Portfolio */

.portfolio {
  padding: 120px 0px;
}

/* Button of filter */

.button-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.btn-filter {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  background-color: var(--light-bg-cl);
  color: var(--primery-txt-cl);
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--pressed-bg-cl);
  color: var(--white-txt-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-title {
  margin-bottom: 8px;
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 40px 32px 156px;

  background-color: var(--primery-bg-cl);
  color: var(--light-txt-cl);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-family: 'Roboto';
  line-height: 24px;
  letter-spacing: 0.02em;
  transition: transform 250ms linear;
  transform: translate(0, 100%);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translate(0, 0);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background: #404bbf;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #ffffff;
}

.modal-title {
  display: block;
  margin-bottom: 16px;
  color: var(--dark-txt-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
}

.order-form {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.order-form-label {
  margin-bottom: 8px;
}

.modal-form-input-desc {
  display: block;
  margin-bottom: 4px;
  color: var(--subtle-bg-cl);
}

.order-form-group {
  position: relative;
  display: block;
}

.order-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #000000;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-50%);
}

.order-form-input:focus {
  border-color: var(--primery-txt-cl);
  outline: none;
}

.order-form-input:focus + .order-form-icon {
  fill: var(--primery-txt-cl);
}

.order-form-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #000000;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-comment:focus {
  border-color: var(--primery-txt-cl);
  outline: none;
}

.modal-form-check-desc::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check:checked + .modal-form-check-desc::before {
  border-color: var(--border-pressed-color);
  background-color: var(--pressed-bg-cl);
  background-image: url(../images/icon/vector.svg);
  background-position: 50% 50%;
  background-size: 10px 8px;
  background-repeat: no-repeat;
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.modal-form-link {
  color: var(--primery-txt-cl);
}

.order-form-btn {
  align-self: center;
  width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--primery-bg-cl);
  color: var(--white-txt-cl);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-btn:hover,
.order-form-btn:focus {
  background-color: var(--pressed-bg-cl);
  color: var(--white-txt-cl);
}

/* Mobile menu */
.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}

.menu-toggle {
  position: absolute;
  top: 24px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 22px;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  /* border-radius: 50%; */
  outline: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.mobile-menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 40px;

  background-color: #fff;
  transition: transform 250ms ease-in-out;

  transform: translateX(150%);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: inherit;
}

.mobile-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mobile-menu-container > .mobile-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}
.mobile-menu .link {
  display: block;
  padding: 10px;
  color: inherit;
  text-decoration: none;
}
.mobile-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
}
.nav-link {
  display: block;
  margin-bottom: 40px;
  color: var(--dark-txt-cl);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-txt-cl);
}

.cont-menu .team-social {
  max-width: 328px;
}

.cont-menu .social-icon {
  width: 24px;
  height: 24px;
}

.telefon {
  width: 100%;
  color: #4d5ae5;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  font-family: 'Roboto';
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
@media screen and (max-width: 427.98px) {
  .telefon {
    font-size: 25px;
  }
}

.email {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-social {
  display: flex;
  gap: var(--indent);
}
.social-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primery-bg-cl);
}

.adress-link-mobile {
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}
.link-mobile {
  font-size: 36px;
  font-weight: 600;
  color: var(--accent-color);
  line-height: 1.1;
  margin-bottom: 40px;
}

@media screen and (max-width: 427.98px) {
  .link-mobile {
    font-size: 25px;
  }
}

.socials-list-mobile {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.socials-link-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--accent-color);
  border-radius: 50%;
}
.adress-nav-item-mobile {
  margin-bottom: 48px;
}

.mobile-menu-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px 15px 40px 40px;
}
.adress-nav-item-mobile {
  margin-bottom: 48px;
}

.socials-list-mobile {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.socials-link-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #ffffff;
  background-color: var(--primery-bg-cl);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link-mobile:hover,
.socials-link-mobile:focus {
  background-color: var(--pressed-bg-cl);
}
.social-icon {
  fill: currentColor;
}
